<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <display-name>new</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninController</display-name>
    <servlet-name>SigninController</servlet-name>
    <servlet-class>Servlets.SigninController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninController</servlet-name>
    <url-pattern>/SigninController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signinservlet</display-name>
    <servlet-name>Signinservlet</servlet-name>
    <servlet-class>Servlet.Signinservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signinservlet</servlet-name>
    <url-pattern>/Signinservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signupservlet</display-name>
    <servlet-name>Signupservlet</servlet-name>
    <servlet-class>Servlet.Signupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signupservlet</servlet-name>
    <url-pattern>/Signupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet1</display-name>
    <servlet-name>SignupServlet1</servlet-name>
    <servlet-class>servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet1</servlet-name>
    <url-pattern>/SignupServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet1</display-name>
    <servlet-name>SigninServlet1</servlet-name>
    <servlet-class>servlets.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet1</servlet-name>
    <url-pattern>/SigninServlet1</url-pattern>
  </servlet-mapping>
</web-app>